.secs {
  width: 100%;
  height: 100vh;
  /* background-color: aqua; */
}

.main {
  margin-left: 20px;
  margin-right: 20px;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}
body {
  padding-top: 100px;
}

.home {
  background-color: azure;
  padding: 5%;
}
.menu {
  z-index: 10000;
}

.add-dealer {
  margin-top: 50px;
  padding: 2%;
  margin-bottom: 50px;
}
